{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Online store videogames</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">

</head>
<style>
    body {
      padding-top: 56px;
    }
</style>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container" style="max-width: 1390px!important;">
      <a class="navbar-brand" href="{% url 'Base' %}">Онлайн магазин ретро видеоигр</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
                      <li class="nav-item" >
            <a class="nav-link" href="{% url 'Base' %}">Главная<span class="badge badge-pill badge-danger"></span></a>
          </li>
                                  <li class="nav-item">
            <a class="nav-link" href="{% url 'InfoView' %}">Справка<span class="badge badge-pill badge-danger"></span></a>
          </li>
                      <li class="nav-item">
            <a class="nav-link" href="{% url 'ContactView' %}">Контакты <span class="badge badge-pill badge-danger"></span></a>
          </li>
            {% if user.is_authenticated %}
                                              <li class="nav-item" style="padding-left: 110px">
            <a class="nav-link" href="{% url 'CartView' %}">Корзина  <span class="badge badge-pill badge-danger">{{ cart.count }}</span></a>
          </li>
                                                          <li class="nav-item">
            <a class="nav-link" href="{% url 'FavView' %}">Избранное <span class="badge badge-pill badge-danger">{{ favorites.count }}</span></a>
          </li>
                                                                          <li class="nav-item">
            <a class="nav-link" href="{% url 'OrdersView' %}">Заказы<span class="badge badge-pill badge-danger"></span></a>
          </li>
            {% endif %}
        </ul>
      </div>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                                          <li class="nav-item" style="padding-left: 110px">
            <a class="nav-link" href="{% url 'User_Details' %}">{{ user.username }}<span class="badge badge-pill badge-danger"></span></a>
          </li>
                                                          <li class="nav-item">
            <a class="nav-link" href="{% url 'Logout_user' %}">Выйти<span class="badge badge-pill badge-danger"></span></a>
          </li>
            {% else %}
                                                      <li class="nav-item" style="padding-left: 110px">
            <a class="nav-link" href="{% url 'Login_user' %}">Войти <span class="badge badge-pill badge-danger"></span></a>
          </li>
                                                                      <li class="nav-item">
            <a class="nav-link" href="{% url 'Create_user' %}">Создать аккаунт <span class="badge badge-pill badge-danger"></span></a>
          </li>
            {% endif %}
        </ul>
    </div>
  </nav>



  {% if orders %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Дата</th>
      <th scope="col">Сумма заказа</th>
      <th scope="col">Адрес</th>
        <th scope="col">Статус</th>
      <th scope="col">Действие</th>
    </tr>
  </thead>
  <tbody>
    {% for item in orders %}
        <tr>
            <td>Заказ от {{ item.data }}</td>
            <td>{{ item.total_price }} руб.</td>
            <td>{{ item.adress }}</td>
             <td>{{ item.status }}</td>
            <td>
            <a href="{% url 'Order_Details' item.order_id %}"> <button class="btn btn-danger">Подробнее</button> </a>
          </td>
        </tr>
    {% endfor %}

  </tbody>
</table>

      {% else %}
      <div class="search-block inner-table-block" style="margin: auto; width: 30%; margin-top: 14px;">
       <p>Заказов нету, пора исправить!</p>
      </div>
{% endif %}

  <!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
